.peopleAlsoLikedTitle {
  box-sizing: border-box;
  color: rgba(12, 11, 8, 0.75);
  display: center;
  font-family: Graphik, "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  height: 25.3333px;
  letter-spacing: -0.16px;
  line-height: 26px;
  margin-left: 12%;
  padding-bottom: 50px;
}
.listWrapper {
  /* box-sizing: border-box; */
  color: rgba(12, 11, 8, 0.75);
  display: block;
  /* justify-content: space-between; */
  font-family: Graphik, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 312.646px;
  letter-spacing: -0.16px;
  line-height: 21px;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  /* text-size-adjust: 100; */
  /* width: 1500px; */
  margin: 0 auto;
}
.horizontalList {
  box-sizing: border-box;
  display: flex;
  height: 326.479px;
  margin-bottom: 0px;
  margin-left: 12%;
  margin-right: 0px;
  margin-top: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-bottom: 0px;
  padding-left: auto;
  padding-right: auto;
  padding-top: 0px;
  align-items: baseline;
}


.buttonImg {
  width: 50px;
  height: 50px;
  padding-right: 30px;
}
