.listItem {
  box-sizing: border-box;
  display: list-item;
  flex-shrink: 0;
  float: left;
  height: 326.479px;
  width: 177.167px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}



.itemDiv {
  box-sizing: border-box;
  display: flex;
  left: 0px;
  position: relative;
  width: 145.167px;
  flex-direction: column;
  align-items: flex-start;
}
li img {
  width: 145px;
  height: 130px;
  padding-bottom: 0px;
}
.brand {
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 16px;
}
.name {
  font-weight: 700;
  font-size: 18px;
}