.carouselWrapper {
  display: flex;
  justify-content: center;
}
.peopleAlsoLikedTitle {
  box-sizing: border-box;
  color: rgba(12, 11, 8, 0.75);
  display: center;
  font-family: Graphik, "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  height: 25.3333px;
  letter-spacing: -0.16px;
  line-height: 26px;
  margin-left: 12%;
  padding-bottom: 50px;
}

.carouselContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.listWrapper {
  color: rgba(12, 11, 8, 0.75);
  display: block;
  font-family: Graphik, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 312.646px;
  letter-spacing: -0.16px;
  line-height: 21px;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
}
.horizontalList {
  box-sizing: border-box;
  display: flex;
  height: 326.479px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-bottom: 0px;
  padding-top: 0px;
  align-items: baseline;
  justify-content: center;
}
.buttonImg {
  width: 50px;
  height: 50px;
  padding-right: 30px;
}


